.search-component {
    input {
        width: 400px;
        left: 40px;
        top: 150px;
        width: 700px;
        height: 60px;
        position: absolute;
        font-size: 20px;
        border-radius: 23143423px;
        background-color: #3500D3;
        border: none;
        color: white;
        padding-left: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}